
 .list-group-item
{
  overflow:hidden;  
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}


.form-control
{
  width: 90%;
}


.btn btn-outline-primary
{
  height: 50%;
}


.video
{
  width : 100%;
}