body {
  background :#F0F0F0;
}
h1{

  margin-top: 0px;
  margin-bottom : 30px;
}

#buttons-wrap {
  position : relative;
  height : 50px;
}

/*
#buttons {
  position: absolute;
  left : 100px;
}*/

#calendar {
  position: relative;
  height: 0px;
  bottom: 50px;
  
  left: 300px;
}



.IIV::-webkit-media-controls-play-button,

.IIV::-webkit-media-controls-start-playback-button {

    opacity: 0;
    pointer-events: none;
    width: 5px;
}


/*video::-webkit-media-controls {

    display:none !important;
}*/


#video-wrap {
  width: 960px;
  height: 540px;
  background-color: black;
	position: relative;
}


#video-wrap video {

	display: none;
}


#video-wrap video.active {

	margin : auto;
	display: block;
	width: 960px;
	height: 540px;
	background-color: white;

}



/*slider */
#sldier-wrap {
  margin: auto;
  -webkit-align-content: center;
  align-content: center;
}



#slider_sec .slider-selection {
  background: #BABABA;
}

#slider_sec .slider-rangeHighlight {
    background: #FF8282;
}

#slider_sec .slider-rangeHighlight slider-selection {
    background: #212121;
}







#slider_min {
  margin-top: 30px

}

#slider_min .slider-track {
  position: absolute;
  background: #f9f9f9; /*2번슬라이더의 선택되지 않은 부분의 track 색깔*/
  

}

#slider_min .slider-selection {
  background: #f9f9f9; /*2번슬라이더의 선택된 부분의 track 색깔*/

}

#slider_min .slider-rangeHighlight {
    background: #FF8282;
}

#slider_min .slider-tick.in-selection {
  background : #f9f9f9; /*3번슬라이더의 기본 tick 색깔은 흰 색 */

}

  
#slider_min .slider-tick {
  position: absolute;

  width: 10px; /*yj.cho slider tick circle 크기*/
  height: 10px; /*yj.cho slider tick circle 크기*/
  /*border: 0.5px solid black;*/
}

#slider_min .slider-handle {
  position: absolute;
  top: -23px;
  
  margin-left: 0.3px;

  width: 15px;
  height: 15px;
  /*background: #00A6FF;*/

}

#slider_min .slider-handle.custom::before {
  line-height: 0px;
  font-size: 20px;
  /*content: '\2605';*/
  content: '\25BC';
  color: black;
}

#slider_min .slider-tick.custom::before {
  line-height: 20px;
  font-size: 20px;
  content: '\007C';
  color: #414141;

}










/* slider_hour */




#slider_hour {
  margin-top : 30px;
}

#slider_hour .slider-selection {
  background: #898989; /*3번슬라이더의 선택된 부분의 track 색깔*/

}


#slider_hour .slider-track {
  position: absolute;
  background: #898989; /*3번슬라이더의 선택되지 않은 부분의 track 색깔*/
  height: 2px; /*yj.cho slider 바의 높이 */

}

#slider_hour .slider-tick.in-selection {
  background : #f9f9f9; /*3번슬라이더의 선택된 tick 색깔은 흰 색 */

}



#slider_hour .slider-tick {
  position: absolute;
  /*margin-left : 0em;*/


  width: 13px; /*yj.cho slider tick circle 크기*/
  height: 13px; /*yj.cho slider tick circle 크기*/
  border: 3px solid #FF8282;
}

#slider_hour .slider-handle {
  position: absolute;

  top: 0;
  width: 13px;
  height: 13px;
  background: #9F2828;

}

#slider_hour .slider-tick-label {
  padding-top: 3px; /*yj.cho 슬라이더와 라벨 사이의 간격*/
  display: inline-block;
  font-size: 15px; /*yj.cho 라벨 크기*/
  text-align: center;
}





/*--------------------------------------------------------------------------------*/















#RGB {
  height: 20px;
  background: rgb(128, 128, 128);
}
#RC .slider-selection {
  background: #FF8282;
}
#RC .slider-handle {
  background: red;
}
#GC .slider-selection {
  background: #428041;
}
#GC .slider-handle {
  background: green;
}
#BC .slider-selection {
  background: #8283FF;
}
#BC .slider-handle {
  border-bottom-color: blue;
}
#R, #G, #B {
  width: 300px;
}
